@model MyForum.Data.Models.User
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<form asp-action="LoginUser" asp-controller="User">
    <table>
        <tr>
            <td class="form-group" style="text-align: right">
                <label asp-for="Email" class="control-label">E-mail:</label>
            </td>
            <td class="form-group" style="padding-left: 8px">
                <input type="text" asp-for="Email" class="form-control" style="margin: 3px"/>
                @Html.ValidationMessageFor(model => model.Email)
            </td>
        </tr>
        <tr style="margin-top: 15px;">
            <td class="form-group" style="text-align: right">
                <label asp-for="Password" class="control-label">Password: </label>
            </td>
            <td class="form-group" style="padding-left: 8px;">
                <input type="password" asp-for="Password" class="form-control" style="margin: 3px"/>
                @Html.ValidationMessageFor(model => model.Password)
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr>
            <td style="margin:5px">
                <div class="form-group" style="margin: 5px">
                    <input class="btn btn-success" type="submit" style="width: 100px" value="Log in"  />
                </div>
            </td>
            <td style="margin:5px">
                <div style="margin: 5px; text-align: right">
                    <a href="~/User/Registration">You haven`t acount?</a>
                </div>
            </td>
        </tr>
    </table>
</form>

