@model MyForum.Data.Models.User
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<form asp-action="RegistrationUser" asp-controller="User">
    <div class="form-group">
        <label asp-for="Name" class="control-label"><b>Name:</b></label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    </br>
    <div class="form-group">
        <label asp-for="Surname" class="control-label"><b>Surname:</b></label>
        <input type="text" asp-for="Surname" class="form-control" />
    </div>
    </br>
    <div class="form-group">
        <label asp-for="Age" class="control-label"><b>Age:</b></label>
        <input type="number" asp-for="Age" class="form-control" />
    </div>
    </br>
    <div class="form-group">
        <label asp-for="Address" class="control-label"><b>Address:</b></label>
        <input type="text" asp-for="Address" class="form-control" />
    </div>
    </br>
    <div class="form-group">
        <label asp-for="Email" class="control-label"><b>E-mail:</b></label>
        <input type="text" asp-for="Email" class="form-control" />
    </div>
    </br>
    <div class="form-group">
        <label asp-for="Password" class="control-label"><b>Password:</b></label>
        <input type="text" asp-for="Password" class="form-control" />
    </div>
    </br>
    <div class="form-group">
        <input type="submit" value="Log up" class="btn btn-default" />
    </div>
</form>

<div>
    <a href="~/User/Login">You have acount?</a>
</div>