# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.MyForum.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\yehor.hrabovskyi\source\repos\MyForum\.idea\.idea.MyForum\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
