@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="~/Home/TopicsList">Go back</a>
<br />

<h2 class="cursive-left" style="color: #D2691E; "> All post from topic @ViewData["TopicName"]: </h2>
<br>

@{
    foreach (var post in ViewBag.Posts)
    {
        <a id="containerTopic" href="~/Post/Post/@post.PostId">
            @post.PostName
        </a>
        <br>
        <br>
    }

    <table style="padding-bottom: 20px">
        <tr>
            <td>
                @using (Html.BeginForm("CreatePost", "Post", FormMethod.Post))
                {
                    <input type="hidden" name="TopicName" value=@ViewData["TopicName"]>
                    <input type="submit" value="Create new post" />
                    <br>
                }
            </td>
        </tr>
        <br />
    </table>
}