@model MyForum.Data.Models.Topic
@{
    if(ViewBag.IsAdmin == true)
    {
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    ViewData["Title"] = "Add topic";
}

<a href="~/Home/TopicsList">Go back</a>
<br />

<form asp-action="Create" asp-controller="Home">
    <div class="form-group">
        <label asp-for="TopicName" class="control-label">Topic name</label>
        <input type="text" asp-for="TopicName" class="form-control" />
        <input type="hidden" asp-for="IsAllow" value=false class="form-control" />
    </div>
    </br>
    <div class="form-group">
        <input class="btn btn-success" type="submit" value="Create" />
    </div>
</form>