@{ 
    if(ViewBag.IsAdmin == true)
    {
        Layout = "~/Views/Shared/AdminLayout.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

<h2 class="cursive-left" style="color: #D2691E; "> All forum topics: </h2><br>

@{
    <table>
        <tr>
            <td>
                @using (Html.BeginForm("SearchTopic", "Home", FormMethod.Post, "SearchTopic"))
                {
                    <table>
                        <tr>
                            <td>
                                @{
                                    if(ViewBag.Search != null)
                                    {
                                        <input class="form-control" type="text" name="SearchTopic" style="width: 350px; margin-right: 15px" value="@ViewBag.Search"/>
                                    }
                                    else
                                    {
                                        <input class="form-control" type="text" name="SearchTopic" style="width: 350px; margin-right: 15px" value=""/>
                                    }
                                }
                            </td>
                            <td><input class="btn btn-default pull-right" type="submit" value="Search" /></td>
                        </tr>
                    </table>
                }  
            </td>
            <td>
                <div style="margin: 15px">
                    @using (Html.BeginForm("CreateTopic", "Home", FormMethod.Post))
                    {
                        <input class="btn btn-default" type="submit" value="Create new topic" />
                        <br>
                    }
                </div>
            </td>
        </tr>
    </table>

    <br>

    foreach (var topic in ViewBag.Topics)
    {
        <a id="containerTopic" href="~/Post/PostsList/@topic.TopicId">
            @topic.TopicName
        </a>
        <br><br>
    }  
}