@{ 
   Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="cursive-left" style="color: #D2691E; "> All forum topics: </h2><br>

@{
    foreach (var topic in ViewBag.AllTopics)
    {
        <a id="containerTopic" href="~/Post/PostsList/@topic.TopicId">
            @topic.TopicName
        </a>
        <br><br>
    }
}